body {
	font-family: OCR A Std, monospace;
	background-color: #010101;
	text-align: center;
	color: antiquewhite;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 30px;
	background-color: #090909;
	box-shadow: 0 0 60px rgba(0, 0, 0, 1);
}

h1 {
	/* border: 1px solid pink; */

	font-family: 'Press Start 2P';
	font-size: 70px;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	animation: pumping 2s ease infinite;
}

h2 {
	/* border: 1px solid pink; */
	font-size: 25px;
	padding: 0px;
	margin: 0;
}

p {
	font-size: 15px;
}

.input {
	font-size: 15px;
}

.form {
	margin: 0;
	padding: 10px;
}

input[type="file"] {
	transition: all 0.5s ease;
    background: #303030;
    color: white; /* White text color */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    font-size: 10px; /* Font size */
}

input[type="submit"] {
	transition: all 0.5s ease;
    background: #303030;
    color: white; /* White text color */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    font-size: 10px; /* Font size */
}

.custom-file-upload {
	transition: all 0.5s ease;
    display: inline-block;
    padding: 10px 20px;
    background: #303030;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

/* Hover effect */
.custom-file-upload:hover, .input:hover {
	background-color: #505050;
	scale: 120%;
}

#file-name {
	font-size: 10px;
}

.navigation {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    list-style: none;
}

.navigation a {
	margin-left: 8px;
	margin-right: 8px;
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    /* border: 1px solid #ccc; */
    transition: all 0.5s ease;
}

.navigation a:hover {
	scale: 120%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

/* hyperlink colors */
a:link {
	color: white;
}

/* already visited */
a:visited {
	color: rgb(122, 122, 122);
}

/* hovering */
a:hover {
	color: white;
}

.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: #777;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #303030;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes pumping {
    0% { scale: 100%; }
    50% { scale: 105%; }
    100% { scale: 100%; }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
